@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}

#navbar img {
    width: 80px;
    margin-left: 100px;
}

#navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
}

ul {

    list-style: none;
}
a{
    text-decoration: none;
}

#navbar ul {
    display: flex;
    margin-right: 100px;

}

#navbar ul li a {
    padding: 15px 20px;
    color: white;
    font-weight: 600;
}

#navbar ul li a:hover{
    border-bottom: 2px solid #e4b95b;
}

header{
 height: 100vh;
 background: url(img/home_bg.jpeg) center center/cover no-repeat;
 position: relative;
}


header #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

header #content h1 {
    font-size:40px;
    color: white;
}

header #content p {
    margin: 20px 0 40px;
    color: white;
}

.primary-text {

    color: #ca9024; 
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}

.btn-primary {
    color: white;
    border: 1px solid white;
}
.btn-primary:hover{
    background: #ca9024;
     
}

header::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.6);
}

header * {

    z-index: 10;
}

.container {

    max-width: 1100px;
    margin: auto;
}

#about {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}

#about .title , #offers .title , #menu .title{

    text-align: center;
    margin-bottom: 4em;
}

#about h2 , #offers h2 , #menu h2 , #gallery h2{
    font-size: 40px;
    margin-bottom: 20px;
}

#about h2 , #menu h2 {
    color: #383848;

}
#about .title p , #menu .title p{
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600;
}

#about .about-content {
    display: flex;
    justify-content: space-between;
}

#about .about-content img {
    width: 450px;
}

#about .about-content p {
    color: #9a9a9a;
    margin-right: 7rem;
    font-weight: 500;
    line-height: 1.6;

}


#offers {
    height: 80vh;
    display: flex;
    justify-content: center;
    background: url('img/offer-background.jpg') center center/cover fixed;
}

#offers h2 {
    color: #e4b95b;
}

#offers .title p {

    color: white;
    font-weight: 500;
}

#offers .offers-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#offers .offers-items img {

    width: 200px;
}

#offers .offers-items h3 {
    font-size: 25px;
    margin: 15px 0;
}

#offers .offers-items p {
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

#offers .offers-items span {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}

#menu {
    background: #f4f4f4;
    padding: 5rem 0;

}

#menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .menu-items .menu-item {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#menu .menu-items .menu-item img {

    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

#menu .menu-items .menu-item h3{

    color: #383848;
    border-bottom: 1px dashed #c2bdbd;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
}

#menu .menu-items .menu-item span {

    position: absolute;
    top: 0;
    right: 0;
}

#menu .btn {
    background: #e4b95b;
    color: white;
    display: block;
    margin: 20px auto 0;
    cursor: pointer;
    font-family: quicksand;
  
}
 
#menu .btn:hover {
    background: #383848;
}

#daytime {
    background: url(img/daytime_bg.jpeg) center center/cover fixed no-repeat;
    color: white;
    text-align: center;

}

#daytime .daytime-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}

#daytime .daytime-items h3{
    font-size: 32px;
    margin: 20px 0 10px;

}

#daytime .daytime-items p {

    font-weight: 500;
}

#gallery {

    background: url(img/offer-background.jpg) center center/cover no-repeat;
    padding: 8rem 0 6rem;
}

#gallery h2 {
    color: white;
    text-align: center;
}
#gallery .img-gallery{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#gallery .img-gallery img {
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    opacity: 0.9;
    
}

#gallery .img-gallery img:hover {
    opacity: 1;
}

#contact {

    padding: 5rem 0;
    background: #f4f4f4;

}

#contact .container {
    max-width: 900px;
}

#contact .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact .contact-content .contact-info {
    width: 50%;
}

#contact .contact-content .contact-info div {
    margin: 30px 0;
    line-height: 1.7;
}
#contact .contact-content .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
}

#contact .contact-content .contact-info p {

    color: #9a9a9a;
}

#contact .contact-content .contact-info i {
    color: #e4b95b;
    margin-right: 5px;
}

#contact .contact-content .contact-info a i {

    color: white;
    background-color: #383848;
    padding: 15px;
    border-radius: 50%;
    box-sizing: content-box;
    font-size: 20px;
}

#contact .contact-content .contact-info a i:hover {
    background-color: #e4b95b;
    color: #383848;
}

form {
    width: 50%;
}

form input , textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
}

#contact .btn {
    background-color: #e4b95b;
    color: white;
    cursor: pointer;
}

#contact .btn:hover {
    background-color: #383848;

}

#footer {
    background-color: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
}
#footer a {
    color: white;
}

@media (max-width: 1000px){

    #navbar img {
    width: 80px;
    margin-left: 20px;
}

#navbar ul {
    display: flex;
    margin-right: 20px;

}

#navbar ul li a {
    padding: 10px;
}

header #content h1 {
    font-size:28px;
}
#about {
    height: auto;
    padding: 4rem 2rem;
}

#about .about-content p{

    margin-right: 2rem;
}

#about .about-content img{

    width: 250px;
}
#offers .offers-items img {

    width: 150px;
}
#offers .offers-items h3 {
    font-size: 18px;
    margin: 15px 0;
}
#menu .menu-items {
    display: block;
}
#contact .contact-content {
    flex-direction: column;
}
@media (max-width:600px){
    #navbar {
        flex-direction: column;
        
    }
    #navbar img {
        margin-bottom: 20px;
    }
    header #content h1 {
        font-size: 18px;
    }
    header #content p {
        font-size: 14px;
    }
    #about ,.about-content{
        flex-direction: column;
    }
    #about .about-content img {
        margin: 10px auto 0px;
    }
    #offers {
        height: auto;
    }
    #offers .offers-items{
        flex-direction: column;
    }
    #menu .menu-items .menu-item {
        margin: 20px 10px;

    }
    #daytime .daytime-items {
        display: block;
        height: auto;
        padding: 30px 0px ;
    }
    #daytime .daytime-items .daytime-item {
        margin-top: 20px;
    }
    #contact .contact-content .contact-info{
        width: 80%;
        text-align: center;
    }    
    
    #form {
        width: 80%;
    }
}
} 

